*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  max-height: 100vh;
  overflow: scroll;
}

button {
  font-family: inherit;
}

